* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 20px;
}

body {
  background-color: black;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  height: auto;
}

.container .title {
  font-size: 1.8rem;
  color: white;
  font-family: "Orbitron", sans-serif;
  margin-top: 2rem;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

.container .title:hover {
  color: yellow;
}

.container .description {
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  font-size: 1rem;
  color: white;
  margin-top: 1.3rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.container .description:hover {
  color: yellow;
}

.container .contact {
  margin: 4.5rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .contact img {
  margin-right: 1rem;
  cursor: pointer;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.container .contact img:hover {
  -webkit-box-shadow: 5px 5px 90px yellow;
          box-shadow: 5px 5px 90px yellow;
}

.glitch {
  color: white;
  position: relative;
  margin: 0 auto;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(11px, 9999px, 42px, 0);
  }
  5% {
    clip: rect(60px, 9999px, 60px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 18px, 0);
  }
  15% {
    clip: rect(12px, 9999px, 19px, 0);
  }
  20% {
    clip: rect(4px, 9999px, 10px, 0);
  }
  25% {
    clip: rect(25px, 9999px, 26px, 0);
  }
  30% {
    clip: rect(43px, 9999px, 21px, 0);
  }
  35% {
    clip: rect(60px, 9999px, 19px, 0);
  }
  40% {
    clip: rect(52px, 9999px, 38px, 0);
  }
  45% {
    clip: rect(43px, 9999px, 41px, 0);
  }
  50% {
    clip: rect(40px, 9999px, 59px, 0);
  }
  55% {
    clip: rect(35px, 9999px, 51px, 0);
  }
  60% {
    clip: rect(20px, 9999px, 17px, 0);
  }
  65% {
    clip: rect(44px, 9999px, 39px, 0);
  }
  70% {
    clip: rect(17px, 9999px, 31px, 0);
  }
  75% {
    clip: rect(51px, 9999px, 18px, 0);
  }
  80% {
    clip: rect(46px, 9999px, 34px, 0);
  }
  85% {
    clip: rect(33px, 9999px, 41px, 0);
  }
  90% {
    clip: rect(29px, 9999px, 8px, 0);
  }
  95% {
    clip: rect(25px, 9999px, 4px, 0);
  }
  100% {
    clip: rect(43px, 9999px, 58px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(11px, 9999px, 42px, 0);
  }
  5% {
    clip: rect(60px, 9999px, 60px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 18px, 0);
  }
  15% {
    clip: rect(12px, 9999px, 19px, 0);
  }
  20% {
    clip: rect(4px, 9999px, 10px, 0);
  }
  25% {
    clip: rect(25px, 9999px, 26px, 0);
  }
  30% {
    clip: rect(43px, 9999px, 21px, 0);
  }
  35% {
    clip: rect(60px, 9999px, 19px, 0);
  }
  40% {
    clip: rect(52px, 9999px, 38px, 0);
  }
  45% {
    clip: rect(43px, 9999px, 41px, 0);
  }
  50% {
    clip: rect(40px, 9999px, 59px, 0);
  }
  55% {
    clip: rect(35px, 9999px, 51px, 0);
  }
  60% {
    clip: rect(20px, 9999px, 17px, 0);
  }
  65% {
    clip: rect(44px, 9999px, 39px, 0);
  }
  70% {
    clip: rect(17px, 9999px, 31px, 0);
  }
  75% {
    clip: rect(51px, 9999px, 18px, 0);
  }
  80% {
    clip: rect(46px, 9999px, 34px, 0);
  }
  85% {
    clip: rect(33px, 9999px, 41px, 0);
  }
  90% {
    clip: rect(29px, 9999px, 8px, 0);
  }
  95% {
    clip: rect(25px, 9999px, 4px, 0);
  }
  100% {
    clip: rect(43px, 9999px, 58px, 0);
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 13s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(22px, 9999px, 36px, 0);
  }
  5% {
    clip: rect(55px, 9999px, 38px, 0);
  }
  10% {
    clip: rect(59px, 9999px, 10px, 0);
  }
  15% {
    clip: rect(21px, 9999px, 50px, 0);
  }
  20% {
    clip: rect(25px, 9999px, 48px, 0);
  }
  25% {
    clip: rect(6px, 9999px, 31px, 0);
  }
  30% {
    clip: rect(7px, 9999px, 55px, 0);
  }
  35% {
    clip: rect(2px, 9999px, 15px, 0);
  }
  40% {
    clip: rect(47px, 9999px, 23px, 0);
  }
  45% {
    clip: rect(6px, 9999px, 20px, 0);
  }
  50% {
    clip: rect(10px, 9999px, 20px, 0);
  }
  55% {
    clip: rect(37px, 9999px, 31px, 0);
  }
  60% {
    clip: rect(17px, 9999px, 2px, 0);
  }
  65% {
    clip: rect(38px, 9999px, 35px, 0);
  }
  70% {
    clip: rect(54px, 9999px, 53px, 0);
  }
  75% {
    clip: rect(5px, 9999px, 59px, 0);
  }
  80% {
    clip: rect(29px, 9999px, 44px, 0);
  }
  85% {
    clip: rect(11px, 9999px, 22px, 0);
  }
  90% {
    clip: rect(57px, 9999px, 58px, 0);
  }
  95% {
    clip: rect(29px, 9999px, 17px, 0);
  }
  100% {
    clip: rect(53px, 9999px, 21px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(22px, 9999px, 36px, 0);
  }
  5% {
    clip: rect(55px, 9999px, 38px, 0);
  }
  10% {
    clip: rect(59px, 9999px, 10px, 0);
  }
  15% {
    clip: rect(21px, 9999px, 50px, 0);
  }
  20% {
    clip: rect(25px, 9999px, 48px, 0);
  }
  25% {
    clip: rect(6px, 9999px, 31px, 0);
  }
  30% {
    clip: rect(7px, 9999px, 55px, 0);
  }
  35% {
    clip: rect(2px, 9999px, 15px, 0);
  }
  40% {
    clip: rect(47px, 9999px, 23px, 0);
  }
  45% {
    clip: rect(6px, 9999px, 20px, 0);
  }
  50% {
    clip: rect(10px, 9999px, 20px, 0);
  }
  55% {
    clip: rect(37px, 9999px, 31px, 0);
  }
  60% {
    clip: rect(17px, 9999px, 2px, 0);
  }
  65% {
    clip: rect(38px, 9999px, 35px, 0);
  }
  70% {
    clip: rect(54px, 9999px, 53px, 0);
  }
  75% {
    clip: rect(5px, 9999px, 59px, 0);
  }
  80% {
    clip: rect(29px, 9999px, 44px, 0);
  }
  85% {
    clip: rect(11px, 9999px, 22px, 0);
  }
  90% {
    clip: rect(57px, 9999px, 58px, 0);
  }
  95% {
    clip: rect(29px, 9999px, 17px, 0);
  }
  100% {
    clip: rect(53px, 9999px, 21px, 0);
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 15s infinite linear alternate-reverse;
}

.planet {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 60px -20px rgba(255, 189, 3, 0.72), -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
          box-shadow: 0 0 60px -20px rgba(255, 189, 3, 0.72), -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
  margin-top: 2rem;
}

.planet .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-shadow: inset -10px -10px 40px #251303, inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
          box-shadow: inset -10px -10px 40px #251303, inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
  border-radius: 50%;
}

.planet .background {
  -webkit-animation: translateBackground 40s infinite linear;
          animation: translateBackground 40s infinite linear;
  background: url(http://artem.anmedio.ru/dev/planet/mars.jpg) repeat-x;
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
}

.planet .clouds {
  background: url(http://artem.anmedio.ru/dev/planet/clouds.png) repeat-x;
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: translateBackground 30s infinite linear;
          animation: translateBackground 30s infinite linear;
  opacity: 0.4;
}

.planet .wrap {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: rotatePlanet 150s infinite linear;
          animation: rotatePlanet 150s infinite linear;
}

@-webkit-keyframes translateBackground {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -600px;
  }
}

@keyframes translateBackground {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -600px;
  }
}

@-webkit-keyframes rotatePlanet {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@keyframes rotatePlanet {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@media (min-width: 800px) {
  .container {
    padding: 1rem 10rem 0 10rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0.1rem 2rem 0 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 1432px) {
  .container {
    height: 100vh;
  }
}
/*# sourceMappingURL=style.css.map */